.logovm-icon {
    width: 58.6px;
    position: relative;
    height: 34px;
}
.home {
    position: relative;
    text-decoration: underline;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.homeframe {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 16px;
}
.skills {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 24px;
}
.skillsframe {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 16px;
    cursor: pointer;
}
.menu {
    width: 503px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 20px;
}
.ro {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 28px;
    font-weight: 300;
    cursor: pointer;
    z-index: 0;
}
.en {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 28px;
    font-weight: 500;
    z-index: 1;
}
.languageverticalline {
    width: 0.5px;
    position: absolute;
    margin: 0 !important;
    top: 3.75px;
    left: 26.75px;
    border-right: 0.5px solid #464f53;
    box-sizing: border-box;
    height: 19.5px;
    z-index: 2;
}
.language-en-orizontal-de {
    width: 54px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 16px;
}
.search {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 28px;
    font-weight: 300;
}
.fluentsearch-48-regular22-icon {
    width: 22px;
    position: relative;
    height: 22px;
    overflow: hidden;
    flex-shrink: 0;
}
.searchframe {
    width: 114px;
    border-radius: 4px;
    background-color: #e6e8e8;
    border: 1px solid #acacb8;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 7px;
    gap: 29px;
    color: #586368;
}
.header-desktop-en {
    align-self: stretch;
    background-color: #e6e8e8;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 156px;
    box-sizing: border-box;
    gap: 154px;
    font-size: 16px;
    color: #464f53;
}
.fotonameframe-299-child {
    width: 274px;
    position: relative;
    border-radius: 50%;
    height: 274px;
    object-fit: cover;
}
.vlad-marin {
    width: 274px;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 68px;
    display: inline-block;
}
.designer-coder {
    width: 274px;
    position: relative;
    font-size: 32px;
    letter-spacing: 0.01em;
    line-height: 38px;
    color: #9191a1;
    display: inline-block;
}
.nameframe-298 {
    width: 274px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.fotonameframe-299 {
    width: 274px;
    height: 416px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}
.designer-coder1 {
    color: #424242;
    font-size: 40px;
}
.vlad-marin-container {
    width: 706px;
    position: relative;
    line-height: 125%;
    display: none;
    font-size: 48px;
    color: #4f595e;
}
.crafting-digital-experiences {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 68px;
}
.lets-kickstart-your {
    width: 671px;
    position: relative;
    font-size: 40px;
    letter-spacing: 0.01em;
    line-height: 50px;
    color: #586368;
    display: inline-block;
}
.crafting-digital-experiences-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 28px;
    font-size: 56px;
    color: #353b3e;
}
.hire-me {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 38px;
}
.buton-desktop-gpt-38x15 {
    box-shadow: 0px 8px 16px rgba(79, 89, 94, 0.08), 0px 6px 8px rgba(79, 89, 94, 0.1);
    border-radius: 6px;
    background-color: #0073a2;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 57px;
    box-sizing: border-box;
    cursor: pointer;
}
.buton {
    box-shadow: 0px 8px 16px rgba(79, 89, 94, 0.08), 0px 6px 8px rgba(79, 89, 94, 0.1);
    border-radius: 6px;
    background-color: #0073a2;
    height: 56px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 28px;
    box-sizing: border-box;
}
.textbuttonframe-300 {
    width: 770px;
    height: 416px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 68px;
    text-align: left;
    font-size: 32px;
    color: #eeeff0;
}
.fototextframe-301 {
    width: 1128px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 84px;
    z-index: 0;
}
.iconoirtelegram {
    width: 32px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
}
.social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 22px;
    z-index: 0;
}
.blueline-child {
    width: 2px;
    position: relative;
    border-right: 2px solid #003247;
    box-sizing: border-box;
    height: 112px;
}
.blueline {
    margin: 0 !important;
    position: absolute;
    top: 194px;
    left: 7px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    z-index: 1;
}
.sociallineframe-325 {
    margin: 0 !important;
    position: absolute;
    top: 420px;
    left: 1268px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    opacity: 0.6;
    z-index: 1;
}
.vm-hero {
    width: 1440px;
    background-color: #e6e8e8;
    height: 724px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 154px 156px;
    box-sizing: border-box;
    position: relative;
}
.herosection {
    align-self: stretch;
    background-color: #e6e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 156px;
    text-align: center;
    font-size: 54px;
    color: #424a4e;
}
.skills1 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 58px;
}
.logo-figma {
    width: 56px;
    position: relative;
    height: 84px;
    overflow: hidden;
    flex-shrink: 0;
}
.figma-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.figacardframe-313-wrapper {
    width: 158px;
    position: relative;
    height: 142px;
}
.figmacard {
    width: 264px;
    box-shadow: 0px 14px 4px rgba(31, 35, 36, 0), 0px 9px 4px rgba(31, 35, 36, 0.01), 0px 5px 3px rgba(31, 35, 36, 0.05), 0px 2px 2px rgba(31, 35, 36, 0.09), 0px 1px 1px rgba(31, 35, 36, 0.1);
    border-radius: 6px;
    background-color: #4f595e;
    height: 260px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
}
.ru09vhw5imh1lxwig3wi-1-icon {
    width: 134px;
    position: relative;
    height: 56px;
    object-fit: cover;
}
.logo-uxui2 {
    width: 56px;
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-uxui2-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 158px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.group-icon {
    width: 84px;
    position: relative;
    height: 81.8px;
}
.logo-photoshop {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.vector-icon {
    width: 73.3px;
    position: relative;
    height: 83.7px;
}
.logo-css {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.vector-icon2 {
    width: 84px;
    position: relative;
    height: 84px;
}
.logo-linux-tux {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.skillcardsframe-321 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-size: 26px;
}
.skillsframe-360 {
    align-self: stretch;
    background-color: #586368;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 62px 156px 72px;
    gap: 32px;
}
.project-description-text {
    position: relative;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 28px;
    color: #cbcfd0;
}
.project-title-parent {
    width: 360px;
    margin: 0 !important;
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(33.9px);
    background-color: rgba(70, 79, 83, 0.74);
    height: 259px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px 24px;
    box-sizing: border-box;
    gap: 2px;
    z-index: 0;
}
.image {
    width: 360px;
    border-radius: 6px;
    height: 259px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    background-image: url('image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.portfoliopictextdeskcovered {
    border-radius: 6px;
    background-color: #464f53;
    height: 259px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.portfoliocardsframe {
    align-self: stretch;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-size: 26px;
}
.portfolioframe1 {
    align-self: stretch;
    background-color: #4f595e;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 64px 156px;
    gap: 32px;
}
.dedicated-learner {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 38px;
}
.always-seeking-new {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 28px;
    color: #babac4;
}
.dedicated-learner-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.learnervalueproposalcard {
    width: 360px;
    box-shadow: 0px 14px 4px rgba(31, 35, 36, 0), 0px 9px 4px rgba(31, 35, 36, 0.01), 0px 5px 3px rgba(31, 35, 36, 0.05), 0px 2px 2px rgba(31, 35, 36, 0.09), 0px 1px 1px rgba(31, 35, 36, 0.1);
    border-radius: 6px;
    background-color: #424a4e;
    border: 0.5px solid #353b3e;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 24px;
    gap: 18px;
}
.icon-skill-lightbulb {
    width: 44px;
    position: relative;
    height: 44px;
    overflow: hidden;
    flex-shrink: 0;
}
.aboutcardframe-364 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    text-align: center;
    font-size: 26px;
    color: #cbcfd0;
}
.aboutframe1 {
    align-self: stretch;
    background-color: #464f53;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 156px;
    gap: 24px;
    color: #c8c8d0;
}
.logovm-img2only {
    width: 58.6px;
    position: relative;
    height: 34px;
    cursor: pointer;
}
.home1 {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 28px;
}
.menufooter {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.logomenuframe-260 {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}
.iconoirtelegram1 {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.icons-social {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.solarcopyright-outline-icon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.copyright {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.socialrightsframe-261 {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 22px;
    color: #9191a1;
}
.footer-desktop-en {
    align-self: stretch;
    background-color: #282d2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 54px 156px;
    gap: 18px;
    font-size: 16px;
    color: #acacb8;
}
.vmpageendesign-copywork {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 48px;
    color: #e6e8e8;
    font-family: Lato;
}



body {
    margin: 0;
    line-height: normal;
}

